# Lines changed from the default exomiser-cli-15.1.0/application.properties
exomiser.data-directory=/path/to/exomiser-cli-15.1.0/data
exomiser.hg38.data-version=2512
exomiser.phenotype.data-version=2512
#exomiser.hg19.data-version=2512   (disabled: hg19 data not downloaded)
